.navbar {
  background-color: #49a98b;
  position: relative;
  z-index: 10;
}

.navbar-brand {
  padding-right: 15rem;
  padding-left: 5rem;
}

.nav-logo {
  width: 8rem;
  height: auto;
}

.nav-link {
  color: white;
  font-size: 1.5rem;
  text-align: center;
  font-family: "Roboto";
}

.nav-item a:hover {
  color: #37423f;
}

.navbar-toggler {
  padding: 1rem;
  margin: 1rem;
  background-color: white;
}

@media (max-width: 1110px) {
  .navbar-brand {
    padding-left: 2rem;
    padding-right: 5rem;
  }
}
@media (max-width: 900px) {
  .navbar-brand {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .nav-logo {
    width: 6rem;
    height: auto;
  }
}
@media (max-width: 790px) {
  .nav-link {
    font-size: 1.3rem;
  }
}
@media (max-width: 570px) {
  .navbar-brand {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .nav-link {
    font-size: 1rem;
  }
}
.container-foot {
  background-color: #49a98b;
}

.iconos {
  font-size: 3.5rem;
  color: white;
  margin-right: 5rem;
  margin-left: 5rem;
}

.iconos:hover {
  color: rgb(54, 53, 53);
}

.foot-fuente {
  font-family: "Roboto Condensed";
  font-size: 1.5rem;
  color: white;
}

.foot-div {
  justify-content: center;
  align-items: center;
}

@media (max-width: 850px) {
  .foot-fuente {
    font-size: 1rem;
  }
}
@media (max-width: 650px) {
  .iconos {
    font-size: 2.3rem;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }
}
.wrapper {
  background-color: #ececec;
  padding: 0 20px 0 20px;
}

.contacto-main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.contacto-imagen {
  background-image: url("../imagenes/contacto/otromas.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px 0 0 10px;
}

.contacto-row {
  width: 56rem;
  height: 34rem;
  background: #fff;
  box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);
}

.contacto-texto {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contacto-texto p {
  font-size: 2rem;
  font-family: "Roboto";
  font-family: "Roboto";
  font-style: italic;
  font-size: 40px;
  text-align: center;
}

.contacto-input {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.input-box {
  width: 20rem;
  box-sizing: border-box;
}

.input-field {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0 10px 0 10px;
  font-family: "Roboto";
  color: black;
}

.input {
  height: 45px;
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid #49a98b;
  outline: none;
  margin-bottom: 20px;
  color: #323236;
  font-family: "Roboto Condensed";
}

.input-box .input-field label {
  position: absolute;
  top: 10px;
  left: 10px;
  pointer-events: none;
  transition: 0.5s;
}

.input-field .input:focus ~ label {
  top: -10px;
  font-size: 13px;
}

.input-field .input:valid ~ label {
  top: -10px;
  font-size: 13px;
  color: #5d5076;
}

.submit {
  border: none;
  outline: none;
  height: 45px;
  background: #ececec;
  border-radius: 5px;
  transition: 1s;
}

.submit:hover {
  background: #49a98b;
  color: #fff;
}

@media (max-width: 768px) {
  .contacto-imagen {
    border-radius: 10px 10px 0 0;
  }
  .contacto-texto {
    position: absolute;
    top: 45%;
    text-align: center;
  }
  .contacto-row {
    max-width: 420px;
    width: 100%;
  }
}
@media (max-width: 530px) {
  .contacto-texto p {
    font-size: 1.5rem;
  }
}
.servicios-fondo {
  background-color: #ececec;
}

.card {
  box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);
}

.card-text {
  font-family: "Roboto Condensed";
  font-size: 20px;
}

.serv-btn {
  background-color: #ececec;
  transition: 1s;
  font-family: "Roboto Condensed";
  font-size: 20px;
}

.serv-btn:hover {
  background: #49a98b;
  color: #fff;
}

.serv-titulo {
  font-family: "Roboto";
  font-style: italic;
  font-size: 40px;
  text-align: center;
  padding: 20px 0 40px;
}

.laser {
  width: 286px;
  height: 262px;
}

.servicios-card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.fixed {
  color: black;
  font-size: 30px;
}

.img-fixed {
  position: fixed;
  top: 80%;
  left: 95%;
  translate: -50%, -50%;
  z-index: 20;
}

@media (max-width: 1150px) {
  .img-fixed {
    font-size: 20px;
  }
}
@media (max-width: 700px) {
  .img-fixed {
    left: 85%;
  }
}
@media (max-width: 500px) {
  .serv-titulo {
    font-size: 25px;
  }
}
.galeria-fondo {
  background-color: #ececec;
}
.galeria-fondo .galeria-container {
  width: 60vw;
}
.galeria-fondo .galeria-container .galeria-titulo {
  font-family: "Roboto";
  font-style: italic;
  font-size: 40px;
  text-align: center;
  padding: 20px 0 5px;
}
.galeria-fondo .galeria-container .galeria-parrafo {
  font-family: "Roboto";
  font-size: 25px;
  text-align: center;
  padding-bottom: 10px;
}

.carousel-item {
  filter: brightness(0.7);
}

@media (max-width: 500px) {
  .galeria-fondo .galeria-container {
    width: 95vw;
  }
  .galeria-fondo .galeria-container .galeria-titulo {
    font-size: 25px;
  }
  .galeria-fondo .galeria-container .galeria-parrafo {
    font-size: 20px;
  }
}
.bg-general {
  background-color: #ececec;
}

.index-container-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.index-titulo {
  font-family: "Roboto";
  font-style: italic;
  font-size: 40px;
  text-align: center;
  padding-top: 20px;
}

.index-parrafo {
  font-family: "Roboto";
  font-size: 25px;
  text-align: center;
}

.index--img {
  width: 700px;
  height: auto;
  box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);
}

@media (max-width: 600px) {
  .index-titulo {
    font-size: 25px;
  }
  .index-parrafo {
    font-size: 20px;
  }
}
.gb-general {
  background-color: #ececec;
}

.nosotros-titulo {
  font-family: "Roboto";
  font-style: italic;
  font-size: 40px;
  text-align: center;
  padding-top: 20px;
}

.nosotros-parrafo .nosotros-parrafo-subtitulo {
  font-family: "Roboto";
  font-size: 25px;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 20px;
}
.nosotros-parrafo .nosotros-parrafo-parrafo {
  font-family: "Roboto Condensed";
  font-size: 20px;
  color: black;
}

.nosotros-container-img {
  padding-bottom: 20px;
}

.nosotros-img {
  box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10%;
}

.nosotros-parrafo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
