.container-foot {
  background-color: $color-nav;
}

// .foot-iconos img {
//   @include medidas(3rem, auto);
//   margin-right: 5rem;
//   margin-left: 5rem;
// }
.iconos {
  font-size: 3.5rem;
  color: white;
  margin-right: 5rem;
  margin-left: 5rem;
}
.iconos:hover {
  color: rgb(54, 53, 53);
}
.foot-fuente {
  font-family: map-get($fuentes, "parrafo");
  font-size: 1.5rem;
  color: white;
}
.foot-div {
  @include centrar;
}

@media (max-width: 850px) {
  .foot-fuente {
    font-size: 1rem;
  }
}

@media (max-width: 650px) {
  .iconos {
    font-size: 2.3rem;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }
}
