// anidacion
.galeria-fondo {
  background-color: $bg-color;
  .galeria-container {
    width: 60vw;

    .galeria-titulo {
      @include titulo;
      padding: 20px 0 5px;
    }
    .galeria-parrafo {
      @include subtitulo;
      padding-bottom: 10px;
    }
  }
}
.carousel-item {
  filter: brightness(0.7);
}

@media (max-width: 500px) {
  .galeria-fondo {
    .galeria-container {
      width: 95vw;
      .galeria-titulo {
        font-size: 25px;
      }
      .galeria-parrafo {
        font-size: 20px;
      }
    }
  }
}
