.galeria-fondo {
  background-color: #ececec;
}
.galeria-container {
  width: 900px;
}
.c-item {
  height: 480px;
}
.c-img {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}
.galeria-titulo {
  font-family: map-get($fuentes, "titulo");
  font-style: italic;
  font-size: 40px;
  text-align: center;
  padding: 20px 0 5px;
}
.galeria-parrafo {
  font-family: map-get($fuentes, "titulo");
  font-size: 25px;
  text-align: center;
  padding-bottom: 10px;
}
