.galeria-fondo {
  background-color: #ececec;
}
.galeria-container {
  width: 75vw;
  max-width: 900px;
  min-width: 280px;
}

.c-item {
  width: 75vw;
  max-width: 1000px;
  min-width: 280px;
  margin: auto;
  filter: brightness(0.8);
}
.c-img {
  width: 100%;
  height: auto;
}
.galeria-titulo {
  font-family: map-get($fuentes, "titulo");
  font-style: italic;
  font-size: 40px;
  text-align: center;
  padding: 20px 0 5px;
}
.galeria-parrafo {
  font-family: map-get($fuentes, "titulo");
  font-size: 25px;
  text-align: center;
  padding-bottom: 10px;
}
@media (max-width: 400px) {
  .galeria-titulo {
    font-size: 25px;
  }
  .galeria-parrafo {
    font-size: 20px;
  }
}
