.bg-general {
  background-color: $bg-color;
}
.index-container-img {
  display: flex;
  flex-direction: column;
  @include centrar;
}
.index-titulo {
  @include titulo;
  padding-top: 20px;
}
.index-parrafo {
  @include subtitulo;
}
.index--img {
  @include medidas(700px, auto);
  box-shadow: $sombra-gral;
}
@media (max-width: 600px) {
  .index-titulo {
    font-size: 25px;
  }
  .index-parrafo {
    font-size: 20px;
  }
}
