.navbar {
  background-color: $color-nav;
}
.navbar-brand {
  padding-right: 15rem;
  padding-left: 5rem;
}
.nav-logo {
  width: 8rem;
  height: auto;
}
.nav-link {
  color: white;
  font-size: 1.5rem;
  text-align: center;
  font-family: map-get($fuentes, "titulo");
}
.nav-item a:hover {
  color: #37423f;
}
.navbar-toggler {
  padding: 1rem;
  margin: 1rem;
  background-color: white;
}
@media (max-width: 1110px) {
  .navbar-brand {
    padding-left: 2rem;
    padding-right: 5rem;
  }
}
@media (max-width: 900px) {
  .navbar-brand {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .nav-logo {
    width: 6rem;
    height: auto;
  }
}

@media (max-width: 570px) {
  .navbar-brand {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
