.servicios-fondo {
  background-color: $bg-color;
}
.card {
  box-shadow: $sombra-gral;
}
.card-text {
  font-family: map-get($fuentes, "parrafo");
  font-size: 20px;
}
.serv-btn {
  background-color: $bg-color;
  transition: 1s;
  font-family: map-get($fuentes, "parrafo");
  font-size: 20px;
}
.serv-btn:hover {
  background: $color-nav;
  color: #fff;
}
.serv-titulo {
  @include titulo;
  padding: 20px 0 40px;
}
.laser {
  width: 286px;
  height: 262px;
}
.servicios-card {
  display: flex;
  @include centrar;
  padding-bottom: 20px;
}

a i {
  color: black;
  font-size: 30px;
}
.img-fixed {
  position: fixed;
  top: 80%;
  left: 95%;
  translate: (-50%, -50%);
  z-index: 20;
}
@media (max-width: 1150px) {
  .img-fixed {
    font-size: 20px;
  }
}
@media (max-width: 700px) {
  .img-fixed {
    left: 85%;
  }
}
@media (max-width: 500px) {
  .serv-titulo {
    font-size: 25px;
  }
}
